&NAMCMORIO
     cmor_varname  = "PLACE_HOLDER",
     curr_file     = "PLACE_HOLDER",
     inpath        = "PLACE_HOLDER",
     model_units   = "PLACE_HOLDER",
     model_varname = "PLACE_HOLDER",
     outpath       = "/nobackup/rossby15/sm_maeva/projects/pp-tamip/output/"
/
&NAMATTRIBUTES
     branch_time           = 0.,
     calendar              = "Use calender present in model netCDF",
     comment               = "Static surface features, ECMWF table 128 parameters 27-30, 43, 74, 160-163, 172, 173 and 234 were initialised through PrepIFS instead of YOTC; aerosols...; ",
     contact               = "Martin Evaldsson <martin.evaldsson@smhi.se> or Irena Ivanova <irena.ivanova@smhi.se>, SMHI.",
     experiment_id         = "PLACE_HOLDER",
     forcing               = "N/A",
     initialization_method = 1,
     institute_id          = "SMHI",
     institution           = "EC-EARTH (European Earth System Model)",
     model_id              = "EC-EARTH3",
     original_name         = "PLACE_HOLDER",
     parent_experiment_id  = "N/A",
     parent_experiment_rip = "N/A",
     realization           = PLACE_HOLDER,
     references            = "For EC-Earth 3, (this data set), see www.ec-earth.org. For a general background, see model description of EC-Earth 2.3 by Hazeleger et al. (Bull. Amer. Meteor. Soc., 2010, 91, 1357-1363).",
     source                = "EC-Earth 3 (2012); atmosphere: IFS (cy36R4+modifications, T255L91); land: HTessel; repo-ref:https://svn.ec-earth.org/ecearth3/branches/development/tamip@1112",
     table_id              = "PLACE_HOLDER"
/
